body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}


li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}